#select-images-input {
  display: none;
}

.file-upload-controls-wrapper {
  display: flex;
  justify-content: flex-end;
}

.upload-images-route-content-wrapper {
  max-width: 980px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.file-upload-previews {
  width: 100%;
  margin-top: 50px;
}

.files-selected-additional-controls {
  width: 100%;
}
